<ngb-carousel style="margin-right: -67.62px; margin-left: -67.62px;">
	<ng-template *ngFor="let imagen of imagenes" ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="imagen.img" alt="Random first slide" style="width: 100%; height: auto;"/>
		</div>
		<div class="carousel-caption">
			<h1>{{imagen.description}}</h1>
		</div>
	</ng-template>
</ngb-carousel>
<div class="d-flex justify-content-between" style="margin-top: 35px;">
	<div class="card m-2" style="width: 500px; height: 370px;">
	  <div class="card-body text-center" >
		<div style="margin: -17px;">
			<img src="./assets/img/card1.jpg" class="card-img-top">
		</div>
		<div class="card-body" style="margin-top: 20px;">
			<h5 class="card-title"><strong>Pide McDelivery donde estés.</strong></h5>
			<div style="margin-top: 50px;">
				<button class="btn my-2 my-sm-0"  style="background-color: #FFC72C; color: #27251F; text-transform: none; width: 125px; height: 40px;" (mouseenter)="changeColor($event)" (mouseleave)="resetColor($event)">
					Pidelo acá
				</button>
			</div>
			
		</div>
	  </div>
	</div>
	<div class="card m-2" style="width: 500px; height: 370px;">
	  <div class="card-body text-center" >
		<div style="margin: -17px;">
			<img src="./assets/img/card2.png" class="card-img-top" >
		</div>
		<div class="card-body" style="margin-top: 20px;">
			<h5 class="card-title"><strong>¡McProtegidos!</strong></h5>
			<p class="card-text">Disfruta seguro y sin contacto.</p>
			<button class="btn my-2 my-sm-0"  style="background-color: #FFC72C; color: #27251F; text-transform: none; width: 125px; height: 40px;" (mouseenter)="changeColor($event)" (mouseleave)="resetColor($event)">
				Conoce más
			</button>
		</div>
	  </div>
	</div>
</div>

  