/*Styles Cards*/
.custom-shape-divider-bottom-1684562730 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684562730 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 144px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684562730 .shape-fill {
    fill: #FFC72C;
}

/*Styles Social Media*/
@media (max-width: 992px) {
    .redes-sociales {
      display: flex;
        justify-content: center;
        align-items: center;
    }
  }

/*Styles Separator*/
.separator {
    position: relative;
    height: 200px; /* Ajusta la altura según tus necesidades */
    background-color: #FDB813; /* Color del helado */
    overflow: hidden; /* Para ocultar el exceso de contenido */
  }
  
  .separator::before {
    content: "";
    position: absolute;
    bottom: -150px; /* Ajusta la posición vertical del chorreado */
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Ajusta la anchura del chorreado */
    height: 300px; /* Ajusta la altura del chorreado */
    background-color: #FDB813; /* Color del chorreado */
    border-radius: 50%; /* Para dar forma circular al chorreado */
    transform: rotate(45deg); /* Para rotar el chorreado */
    z-index: 1; /* Coloca el chorreado detrás del contenido */
  }
  
  
