	
	<div class="card mb-3">
	  <font FACE="small fonts"><h3 class="card-header">HOBBIES TO EATS!</h3></font>
	
	  <img src="https://scontent.fesm1-1.fna.fbcdn.net/v/t1.6435-9/32266995_777342725986733_4289410617636290560_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=e3f864&_nc_ohc=U6PGnGQvtQUAX-LuX6a&_nc_ht=scontent.fesm1-1.fna&oh=70bfb7722f9523fd51f0cc637e1dd2c1&oe=615007EE" 
	  width="100%" height="400">
	  <div class="card-body">
	  <FONT FACE="small fonts"><b>Ventas, Distribucion y servicio al cliente los 365 dias.</b></FONT>
	  </div>
	</div>
	

<table class="default" >
  <tr>
	<td style="background-color:#717478;">
    <br>
		  <div class="card border-primary mb-3" style="max-width: 20rem;">
		  <div class="card-header text-white bg-secondary"><FONT FACE="Times New Roman">EXPLOTA TUS VENTAS ON-LINE</FONT></div>
		  <div class="card-body">
		    <h4 class="card-title">Menu online</h4>
		    <p class="card-text">Empieza a recibir pedidos sin complicaciones. Compartelo con tus clientes a 
		    traves de WhatsApp, redes sociales o directamente en tu sitio web.</p>
		  </div>
		</div> 
    </td>
    <p>&nbsp;</p>
	<td style="background-color:#717478;">
    <br>
		  <div class="card border-primary mb-3" style="max-width: 20rem;">
		  <div class="card-header text-white bg-secondary"><FONT FACE="Times New Roman">COMPARTE CON TUS AMIGOS!</FONT></div>
		  <div class="card-body">
		    <h4 class="card-title">Orden de grupo</h4>
		    <p class="card-text">Coordine facilmente su pedido con varias personas permitiendo que sus
		     amigos elijan sus propios platos.</p>
		  </div>
		</div> 
    </td>
    <p>&nbsp;</p>
    <td style="background-color:#717478;">
    <br>
		  <div class="card border-primary mb-3" style="max-width: 20rem;">
		  <div class="card-header text-white bg-secondary"><FONT FACE="Times New Roman">SIN TIEMPO PARA COCINAR !?</FONT></div>
		  <div class="card-body">
		    <h4 class="card-title">Abastecimiento</h4>
		    <p class="card-text">Elimine las molestias de su gran evento. Deje que nuestro 
		    equipo de expertos cocine por usted.</p>
		  </div>
		</div>
	</td> 
	<p>&nbsp;</p>
	<td style="background-color:#717478;">
    <br>
		  <div class="card border-primary mb-3" style="width: 200px" >
		  <div class="card-header text-white bg-secondary"><FONT FACE="Times New Roman">INTEGRANTES</FONT></div>
		  <div class="card-body">
		    <h6>--Alejandro Rodriguez<br>
		    --Luigui Castillo<br>--Marcos Angulo<br> --Eric Arcos
		    </h6>
		    
		  </div>
		</div>
	</td> 
  </tr>	
</table>