<footer class="footer">
  <div class="container">
    <div class="row"></div>
    <hr class="text-muted"/>
    <div class="d-flex justify-content-between" style="margin-top: 30px">
      <ul class="d-flex list-unstyled">
        <li style="margin-right: 30px">
          <a href="#" class="text-decoration-none small text-muted"
            ><span
              (mouseenter)="changeColor($event)"
              (mouseleave)="resetColor($event)"
              >Política de Privacidad</span
            ></a
          >
        </li>
        <li style="margin-right: 30px">
          <a href="#" class="text-decoration-none small text-muted"
            ><span
              (mouseenter)="changeColor($event)"
              (mouseleave)="resetColor($event)"
              >Protección de datos personales</span
            ></a
          >
        </li>
        <li>
          <a href="#" class="text-decoration-none small text-muted"
            ><span
              (mouseenter)="changeColor($event)"
              (mouseleave)="resetColor($event)"
              >Contacto</span
            ></a
          >
        </li>
      </ul>

      <div
        class="d-flex justify-content-center align-items-center"
        style="margin-top: -10px"
      >
        <img
          src="./assets/icon/icon.png"
          height="36px"
          width="40px"
          style="margin-bottom: 16px"
        />
        <p class="align-self-center small text-muted">© McDonald's 2023</p>
      </div>
    </div>
  </div>
</footer>
