<div class="container">
<button type="button" class="btn btn-lg" [routerLink]="['/home']" style="margin: 10px; text-transform: none; width: 80px; height: 45px; background-color: #DA291C; color: white;" (mouseenter)="changeColorSalir($event)" (mouseleave)="resetColorSalir($event)">
    <i class="bi bi-box-arrow-left" style="font-size: 26px;"></i>
</button>


<div class="row">
  <div class="col-md-3 mx-auto">
    <div class="card mt-0 text-center"  >
      <div class="card-header" style="background-color: #FFC72C; color: #27251F;">
        <h1 class="h4">
          Formulario de cliente
        </h1>
      </div>
        <img class=" mx-auto d-block logo m-5" src="./assets/icon/cliente.png"
        	 alt="Logo" width="100px" height="100px">
       
      <div class="card-body">
        <form>
          <div class="form-group">
	            <button class="btn" style="margin: 10px; background-color: #FFC72C; color: #27251F; text-transform: none; width: 80px; height: 40px;" [routerLink]="['/customer']" (mouseenter)="changeColor($event)" (mouseleave)="resetColor($event)">
	            Aceder
	          	</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <div class="col-md-3 mx-auto">
    <div class="card mt-0 text-center">
      <div class="card-header" style="background-color: #FFC72C; color: #27251F;">
        <h1 class="h4">
          Formulario de pedidos
        </h1>
      </div >
        <img class=" mx-auto d-block logo m-5" src="./assets/icon/pedido.png"
        	 alt="Logo" width="100px" height="100px">
      <div class="card-body">
        <form>
          <div class="form-group">
	            <button class="btn" style="margin: 10px; background-color: #FFC72C; color: #27251F; text-transform: none; width: 80px; height: 40px;" (mouseenter)="changeColor($event)" (mouseleave)="resetColor($event)" [routerLink]="['/order']" >
              Acceder
	          	</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <div class="col-md-3 mx-auto">
    <div class="card mt-0 text-center">
      <div class="card-header" style="background-color: #FFC72C; color: #27251F;">
        <h1 class="h4">
          Formulario de artículos
        </h1>
      </div>
        <img class=" mx-auto d-block logo m-5" src="./assets/icon/articulos.png"
        	 alt="Logo" width="100px" height="100px">
       
      <div class="card-body">
        <form >
          <div class="form-group">
	            <button class="btn" style="margin: 10px; background-color: #FFC72C; color: #27251F; text-transform: none; width: 80px; height: 40px;"  [routerLink]="['/item']" (mouseenter)="changeColor($event)" (mouseleave)="resetColor($event)">
	            Acceder
	          	</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <div class="col-md-3 mx-auto">
    <div class="card mt-0 text-center">
      <div class="card-header" style="background-color: #FFC72C; color: #27251F;">
        <h1 class="h4">
          Formulario de productos
        </h1>
      </div>
        <img class="mx-auto d-block logo m-5" src="./assets/icon/productos.png"
        	 alt="Logo" width="100px" height="100px">
       
      <div class="card-body " >
        <form >
          <div class="form-group">
	            <button class="btn" style="margin: 10px; background-color: #FFC72C; color: #27251F; text-transform: none; width: 80px; height: 40px;"  [routerLink]="['/product']" (mouseenter)="changeColor($event)" (mouseleave)="resetColor($event)">
              Acceder
	          	</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>
</div>